:root {
  --order: 0;
  --flex: 0 1 auto;
  --flex-grow: 0;
  --flex-shrink: 1;
  --flex-basis: auto;
  --align-self: auto;
  --justify-self: auto;
}
.stack-item-container {
  order: var(--order);
  flex-grow: var(--flex-grow);
  flex-shrink: var(--flex-shrink);
  flex-basis: var(--flex-basis);
  flex: var(--flex);
  align-self: var(--align-self);
  justify-self: var(--justify-self);
}
