:root {
  --gap: 0;
  --direction: "row";
  --flex-wrap: "nowrap";
  --justify-content: "flex-start";
  --justify-item: "legacy";
  --align-item: "normal";
  --align-content: "stretch"
}

.stack-container {
  display: flex;
  gap: var(--gap);
  flex-direction: var(--direction);
  flex-wrap: var(--flex-wrap);
  justify-content: var(--justify-content);
  justify-items: var(--justify-item);
  align-items: var(--align-item);
  align-content: var(--align-content);
}
